<div class="container">
  <footer class="footer">
    <small>Copyright &copy; <a href="https://www.udemy.com">The complete web solution</a></small>
    <nav>
      <ul>
        <li><%= link_to "About", '/about'%></li>
      </ul>
    </nav>
  </footer>

</div>
